@model BibliotecaNexus.Data.Domain.Entidades.Categoria

@{
    ViewData["Title"] = "Editar Categoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Categoría</h1>

<h4>Categoria</h4>
<hr />
<form asp-action="Edit">
    <div class="form-group">
        <input asp-for="CategoriaId" type="hidden" />
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
