@model BibliotecaNexus.Data.Domain.Entidades.Categoria

@{
    ViewData["Title"] = "Eliminar Categoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Categoría</h1>

<h4>Categoria</h4>
<hr />
<div>
    <h4>¿Estás seguro de que deseas eliminar esta categoría?</h4>
    <div>
        <h4>Nombre: @Model.Nombre</h4>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoriaId" />
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
