@model IEnumerable<BibliotecaNexus.Data.Domain.Entidades.Categoria>

@{
    ViewData["Title"] = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categorías</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Categoría</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoriaId</td>
                <td>@item.Nombre</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaId" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoriaId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
