@model UsuarioVm
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<style>
    body {
        background-image: url("");
        background-size: cover;
        background-position: center;
    }

    .login {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

        .login input[type="text"],
        .login input[type="password"] {
            width: 100%;
            padding: 10px 40px 10px 10px; /* Ajuste para dejar espacio para el ícono */
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            position: relative;
        }

    .password-toggle {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .login input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
    }

        .login input[type="submit"]:hover {
            background-color: #45a049;
        }
</style>

<div class="row-6">
    <h1>BibliotecaNexus</h1>
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="ViewBag.ClaseMensaje" role="alert" id="success-alert">
            <strong>@ViewBag.Error</strong>
        </div>
    }
    <div class="main">
        <div class="login">
            <div class="inset">
                <center></center>
                <form method="post" asp-action="Index">
                    <div>
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div style="position: relative;">
                        <label asp-for="Password" class="control-label"></label>
                        <div style="position: relative;">
                            <input type="password" id="password-field" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <span id="password-toggle" class="password-toggle">&#128065;</span>
                        </div>
                    </div>
                    <div class="sing">
                        <div class="submit">
                            <input type="submit" value="Iniciar Sesión">
                        </div>
                        <div class="clear"> <br /> <br /> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const passwordField = document.getElementById("password-field");
    const passwordToggle = document.getElementById("password-toggle");

    passwordToggle.addEventListener("click", function () {
        const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
        passwordField.setAttribute("type", type);
    });
</script>